* {
    box-sizing: border-box;
    font-family: Optima, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --accent-color: rgb(189, 212, 189);
}

header {
    background-color: rgb(26, 49, 27);
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header h1 {
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    font-weight: 400px;
    text-shadow: 4px 2px black;
}
  
nav ul li {
    display: inline;
  }

header a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(190, 219, 236);
    padding: 20px;
}

nav a:hover {
    background-color: var(--accent-color);
    color: black;
    font-weight: bold;
}

#about {
    display: flex;
    flex-wrap: wrap;
    padding: 150px 20px 20px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

p {
    padding: 20px;
    font-size: 20px;
}

.hero {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px slategray;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content:space-between;
    padding: 20px;
}

.titleportfolio {
    width: 100%;
    padding: 20px;
}

.maincard {
    width: 100%;
    padding: 20px;
}

.card {
    width: 50%;
    padding: 20px;
}

.maincard a img {
    width: 70%;
    height: auto;
    padding: 10px;
}

.card a img {
    width: 70%;
    height: auto;
    padding: 10px;
}

.maincard img:hover {
    opacity: 50%;
}

.card img:hover {
    opacity: 50%;
}

#contact {
    padding: 20px;
}

footer {
    background-color: var(--accent-color);
    height: 150px;
    width: 100%;
}




@media  screen and (max-width: 768px) {
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #about {
        display: flex;
        flex-wrap: wrap;
    }

    .hero {
        width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content:space-between;
        padding: 20px;
    }

    .titleportfolio {
        width: 100%;
        padding: 20px;
    }
    
    .maincard {
        width: 100%;
        padding: 20px;
    }
    
    .card {
        width: 100%;
        padding: 20px;
    }
    
    .maincard a img {
        width: 70%;
        height: auto;
        padding: 10px;
    }
    
    .card a img {
        width: 70%;
        height: auto;
        padding: 10px;
    }



}

@media  screen and (max-width: 540px) {
    header {
        display: block;
        position: absolute;
    }

    header a {
        font-size: 30px;
        display: block;
    }

    #about {
        padding: 400px 20px 20px;

    }

    .hero {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #portfolio {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content:space-between;
        padding: 20px;
    }

    .titleportfolio {
        width: 100%;
        padding: 20px;
    }
    
    .maincard {
        width: 100%;
        padding: 20px;
    }
    
    .card {
        width: 100%;
        padding: 20px;
    }
    
    .maincard a img {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    
    .card a img {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    

    }

